<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body class="container">

<header>
  <strong>Welcome to App Demo</strong>
</header>

<main>
  <div class="jumbotron">
    <h1>Names</h1>
    <p>The names of people are <%= title %> </p>
  </div>
</main>

<footer>

</footer>

</body>
</html>